body {
  font-family: "Tilt Neon", sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 5px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 30px;
}

.top-bar h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.2s;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
}

.nickname {
  font-size: 30px;
  font-weight: 700;
}

.total-study-time {
  font-size: 13px;
  color: #6b7280;
  line-height: 1.3;
  font-weight: 500;
}

.profile-actions {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 23px;
  font-size: 14px;
  border: 1px solid #9ca3af;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.btn.danger {
  background: #e5e7eb;
}

.stats-row {
  display: flex;
  gap: 20px;
}

.stat-card {
  flex: 1;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 18px;
}

.stat-label {
  font-size: 13px;
  color: #000000;
  margin-bottom: 6px;
}

.stat-value {
  font-size: 18px;
  font-weight: 700;
}

.stamp-title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
}

.stamp-content {
  font-size: 13px;
  color: #6b7280;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 5px;
}

.calendar {
  margin-top: 25px;
}

.fc-event {
  background: transparent !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
